div{
    width: 150px;
    height: 200px;
    background-color: azure;
    animation: role 2s  infinite ;
    
}
@keyframes role {
	from {transform: rotateZ(0deg);}
	to {transform: rotateZ(360deg);}
}